/.vscode
/.cache
package.json
package-lock.json
yarn.lock
pnpm-lock.yaml
/public
/static
/dist
/build
/.svelte
/.svelte-kit
/examples
node_modules
/node_modules
/functions

/.vercel_build_output
/workers-site

# Jest files #
#############################
coverage
coverage/*
